@tailwind base;
@tailwind components;
@tailwind utilities;

.fb-sidebar {
    height: 100vh;
}

.hover {
    cursor: pointer;
}

.dark-bg {
    background-color: #161b22;
}

.white-bg {
    background-color: #fafafa;
}
