@import '@animxyz/core';
@tailwind base;
@tailwind components;
@tailwind utilities;
@include xyz-all;
@include xyz-core;
@include xyz-utilities;

.fb-sidebar {
    height: 100vh;
}

.hover {
    cursor: pointer;
}

.dark-bg {
    background-color: #161b22;
}

.white-bg {
    background-color: #f6f6f6;
}